@media screen and (min-width: 38.75em) /*620px*/ {
/***header***/
.left-logo {
	margin-top: 0.625em;
	float: left;
}

.left-logo h3 {
	text-shadow: none;
}

.logo-text {
	padding-top: 0.6em;
}

.header-nav {
	float: right;
	margin-top: 1.25em;
}

.header-nav ul {
	float: left;
	li {
		font-size: 1.125em;
	}
}

.header-nav li:nth-of-type(2) {
	padding-left: 0.5em;
}

.big-header-text {
	clear: both;
		h1 {
		display: block;
		text-align: center;
		margin-top: 1em;
		margin-bottom: 0.25em;
	}
}


/***main content***/
.article-header {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

article {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	p:last-of-type {
		margin-bottom: 1em;
	}
}

/*interactive icons*/
.interact {
	margin: 0 auto 1em auto;
	max-width: 600px;
}

.comments, .later, .share {
	display: inline-block;
}

.comments {
	width: 11.6em;
}

.later {
	margin-left: 0.75em;
	width: 9em;
}

.share {
	margin-left: 0.75em;
	width: 11.1em;
}


/***aside***/
aside {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.big-author-photo {
	height: 5.125em;
	width: 5.125em;
	display: inline-block;
	vertical-align: top;
}

.sidebar-author-name {
	margin-top: 4em;
}

.author-social {
	margin-top: 3.5em;
	margin-left: 1em;
}

.aside-caption {
	text-align: center;
}


/***popular posts***/
.posts-float {
	width: 46%;
	float: left;
	margin-bottom: 1em;
}

.posts-float:nth-of-type(even) {
	margin-right: 4%;
}


/***footer***/
footer {
	clear: both;
	margin-top: 0;
	padding-top: 2rem;
	padding-bottom: 2rem;
}		
}



@media screen and (min-width:1000px) {
/***header***/
header {
	padding-top: 2em;
	padding-bottom: 3em;
}

.header-wrapper {
	padding-top: 0rem;
}

.big-header-text {
	h1 {
		font-size: 5em;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 4rem;
	} 
}

/***article***/
.main-content {
	width: 70%;
	float: left;
}

.article-header {
	margin-left: 0;
	margin-right: 0;
}

article {
	margin-right: 0;
	margin-left: 0;
}

.interact {
	margin: 0 0 1em 0;
}

/***aside***/
aside {
	width: 25%;
	margin-left: 5%;
	float: left;
	vertical-align: top;
	margin-top: 1.25em;
	.author-social {
		margin-left: 0;
		margin-top: 0.5em;
	}
}

.aside-caption {
	text-align: left;
}

/***popular posts***/
.popular-posts {
	border-top: 0.0625em solid #e1e7ea;
	clear: both;
	width: 100%;
	text-align: center;
	font-size: 3em;
}

.posts-container {
	width: 100%;
}

.posts-float {
	width: 25%; 
	margin: 0;
	.popular-posts-photos {
		width: 100%;
		min-height: 19.5em;
		margin-bottom: 0;
		position: relative;
		margin-right: 0;
		margin-left: 0;
	}
	.outside-p {
		display: none;
	}
	.inside-p {
		display: inline;
		position: absolute;
		width: 80%;
		margin-left: 2rem;
		font-size: 2rem;
		color: white;
		float: none;
		padding-top: 6em;
		&:hover {
			text-shadow: 3px 3px 3px black;
			cursor: pointer;
		}
	}
}

.posts-float:nth-of-type(even) {
	margin-right: 0;
}

.poppost1 {
	background-image: linear-gradient(rgba(16,109,179,.4),rgba(16,109,179,.4)), url(../IMG/learn-more.jpg);
	&:hover {
		background-image: url(../IMG/learn-more.jpg);
	}
}

.poppost2 {
	background-image: linear-gradient(rgba(16,109,179,.4),rgba(16,109,179,.4)), url(../IMG/adopt.jpg);
	&:hover {
		background-image: url(../IMG/adopt.jpg);
	}
}

.poppost3 {
	background-image: linear-gradient(rgba(16,109,179,.4),rgba(16,109,179,.4)), url(../IMG/volunteer.jpg);
	&:hover {
		background-image: url(../IMG/volunteer.jpg);
	}
}

.poppost4 {
	background-image: linear-gradient(rgba(16,109,179,.4),rgba(16,109,179,.4)), url(../IMG/cutest-photos.jpg);
	&:hover {
		background-image: url(../IMG/cutest-photos.jpg);
	}
}

/***footer***/

.footer-wrapper {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

footer {
	padding-bottom: 1em;
	overflow: hidden;
	.footer-logo-container {
		width: 68%;
		float: left;
		.tiy-logo {
			margin-left: 0;
			margin-right: 0;
			display: inline-block;
		}
		p {
			display: inline-block;
			vertical-align: top;
			text-align: left;
			margin-right: 0;
			margin-left: 1.5em;
			margin-top: 0;
		}
	}
}

.footer-nav {
	float: right;
	ul {
		text-align: right;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

}
}