/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header p, h3 {
  color: white; }

.left-logo h3 {
  text-shadow: 3px 3px 3px black; }

li a {
  color: white; }
li a:hover {
  color: white; }

.article-header {
  color: #083452; }
  .article-header a {
    color: #b0bdc7; }
  .article-header a:hover {
    color: #317ab9; }
  .article-header .date {
    color: #b0bdc7; }

article a {
  color: #b0bdc7; }
article a:hover {
  color: #317ab9; }

blockquote {
  border-left: 0.0625em solid #d3d3d3;
  color: #106db3; }

.comments, .later, .share {
  background-color: #a3b3bf; }

.comment-photo, .read-photo, .share-photo {
  background-color: #5e686f; }

.comments p, .later p, .share p {
  color: #fff; }

a:hover .comment-photo, a:hover .read-photo, a:hover .share-photo {
  background-color: #083452; }

a:hover .comments, a:hover .later, a:hover .share {
  background-color: #106db3; }

aside {
  color: #a3b3bf; }

.sidebar-author-name {
  color: #106db3; }

.author-social li a {
  color: black; }
.author-social li a:hover {
  color: black; }

.aside-photo-border {
  border-bottom: 0.0625em solid #e1e7ea;
  border-top: 0.0625em solid #e1e7ea; }

.sidebar-content h4 {
  color: #106db3; }

.popular-posts {
  color: #083452; }

footer {
  background-color: #083452;
  color: #a3b3bf; }

/**620px mq**/
.big-header-text h1 {
  color: #fff;
  text-shadow: 3px 3px 3px black; }

body {
  font-family: "Open Sans", sans-serif; }

p {
  line-height: 1.8; }

h3 {
  font-size: 1.5em;
  font-weight: 400; }

li {
  font-weight: 600;
  font-size: 1em; }

.article-header h2 {
  font-weight: 600;
  font-size: 1.8125em;
  line-height: 1.2;
  letter-spacing: 0.025em; }
.article-header .author-name {
  font-weight: 600;
  font-size: 0.875em; }
.article-header .date {
  font-size: 0.875em; }

blockquote {
  font-size: 1.875em;
  font-weight: bold;
  line-height: 1.5; }

.comments, .later, .share {
  font-size: 0.875em;
  font-weight: 600; }

.sidebar-author-name {
  font-weight: 600;
  font-size: 0.875em; }

.aside-caption {
  font-size: 0.875em;
  line-height: 1.3; }

.sidebar-content h4 {
  font-size: 1.125em;
  color: #106db3; }
.sidebar-content p {
  line-height: 1.75;
  font-size: 0.875em; }

h2 {
  font-size: 2em; }

.footer-logo-container p {
  font-size: 0.8em; }

.footer-nav {
  font-size: 0.875em; }

/***620px mq***/
.header-nav ul li {
  font-size: 1.125em; }

.big-header-text h1 {
  font-size: 3em;
  font-weight: 600; }

/***whole page***/
.wrapper, .header-wrapper {
  margin: 0 auto;
  width: 90%; }

.header-wrapper {
  padding-top: 3em;
  padding-bottom: 3em; }

/***header***/
header {
  background-image: linear-gradient(rgba(16, 109, 179, 0.4), rgba(16, 109, 179, 0.4)), url(../IMG/hero.jpg);
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%; }

.left-logo {
  text-align: center; }
  .left-logo .logo-text {
    padding-bottom: 0.25em;
    padding-top: 0.4em; }

.header-nav {
  text-align: center;
  padding-bottom: 0.5em;
  padding-top: 0.25em; }
  .header-nav li {
    display: inline-block; }
    .header-nav li a {
      text-decoration: none; }
  .header-nav li:nth-of-type(2) {
    padding-left: 1.25em; }

.big-header-text h1 {
  display: none; }
.big-header-text p {
  text-align: center;
  padding-bottom: 0.5em; }

/***main content***/
.main-content {
  width: 100%;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  display: inline-block; }

/**article**/
.article-header .photo, .article-header .author-name, .article-header .date {
  display: inline-block;
  vertical-align: top; }
.article-header .photo {
  height: 1.5em;
  width: 1.5em;
  background-image: url(../IMG/aspca-logo.png);
  margin-top: 0.875em;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat; }
.article-header .author-name {
  margin-left: 0.5em;
  margin-top: 1.5em; }
.article-header .date {
  margin-top: 1.5em;
  margin-left: 0.3125em; }

article {
  margin-top: 1.5em; }
  article p {
    margin-bottom: 1em; }
  article p:last-of-type {
    margin-bottom: 2em; }

blockquote {
  margin-left: 0.625em;
  padding-left: 1em;
  margin-bottom: 0.75em; }

/*interactive icons*/
.interact {
  margin-top: 1.125em;
  margin-bottom: 3em; }

.comments, .later, .share {
  width: 50%;
  margin-top: 1em; }

.comment-photo, .read-photo, .share-photo {
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-right: 33px;
  padding-bottom: 30px;
  height: 1.875em;
  width: 2.125em; }

.comment-photo {
  background-image: url(../IMG/comments-icon.png); }

.read-photo {
  background-image: url(../IMG/read-later-icon.png); }

.share-photo {
  background-image: url(../IMG/share-icon.png); }

.comments p, .later p, .share p {
  display: inline-block;
  margin-left: 0.5em;
  box-sizing: border-box;
  padding-top: 0.15em; }

/***aside***/
aside {
  display: inline-block; }
  aside .big-author-photo {
    height: 2.5625em;
    width: 2.5625em;
    border-radius: 50%;
    background-image: url(../IMG/aspca-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1em;
    display: inline-block; }
  aside .sidebar-author-name {
    margin-top: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: top; }
  aside .author-social {
    display: inline-block;
    vertical-align: top;
    margin-top: 1.75em; }
    aside .author-social li {
      display: inline-block;
      vertical-align: top;
      font-size: 0.875em; }
      aside .author-social li a {
        text-decoration: none; }
    aside .author-social li:nth-of-type(2) {
      margin-right: 0.5em;
      margin-left: 0.5em; }

.aside-photo-border {
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em; }
  .aside-photo-border .aside-photo {
    background-image: url(../IMG/nanny-dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 18.75em;
    width: 17.5em;
    max-width: 100%;
    margin: 0.25em auto 0 auto; }
  .aside-photo-border .aside-caption {
    margin: 0.25em auto 0.25em auto; }

.sidebar-content {
  margin-top: 2em;
  margin-bottom: 2em; }
  .sidebar-content p {
    margin-top: 0.5em; }

/***popular posts***/
.popular-posts {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

.posts-float {
  overflow: hidden; }
  .posts-float .popular-posts-photos {
    width: 28%;
    min-height: 5.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    float: left; }
  .posts-float .outside-p {
    float: left;
    padding-top: 2em;
    width: calc(100% - 28% - 1em); }
  .posts-float .inside-p {
    display: none; }

.poppost1 {
  background-image: url(../IMG/learn-more.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right; }

.poppost2 {
  background-image: url(../IMG/adopt.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.poppost3 {
  background-image: url(../IMG/volunteer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 35%; }

.poppost4 {
  background-image: url(../IMG/cutest-photos.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

/***footer***/
footer {
  padding-top: 1em;
  overflow: hidden;
  margin-top: 3em; }
  footer .footer-logo-container .tiy-logo {
    background-image: url(../IMG/theironyard.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 2.375em;
    width: 3.0625em;
    margin-left: auto;
    margin-right: auto; }
  footer .footer-logo-container p {
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    text-align: center; }

.footer-nav {
  margin-bottom: 1em; }
  .footer-nav ul {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
    .footer-nav ul li {
      display: inline-block;
      font-size: 0.8em; }

@media screen and (min-width: 38.75em) {
  /***header***/
  .left-logo {
    margin-top: 0.625em;
    float: left; }

  .left-logo h3 {
    text-shadow: none; }

  .logo-text {
    padding-top: 0.6em; }

  .header-nav {
    float: right;
    margin-top: 1.25em; }

  .header-nav ul {
    float: left; }
    .header-nav ul li {
      font-size: 1.125em; }

  .header-nav li:nth-of-type(2) {
    padding-left: 0.5em; }

  .big-header-text {
    clear: both; }
    .big-header-text h1 {
      display: block;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 0.25em; }

  /***main content***/
  .article-header {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto; }

  article {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto; }
    article p:last-of-type {
      margin-bottom: 1em; }

  /*interactive icons*/
  .interact {
    margin: 0 auto 1em auto;
    max-width: 600px; }

  .comments, .later, .share {
    display: inline-block; }

  .comments {
    width: 11.6em; }

  .later {
    margin-left: 0.75em;
    width: 9em; }

  .share {
    margin-left: 0.75em;
    width: 11.1em; }

  /***aside***/
  aside {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block; }

  .big-author-photo {
    height: 5.125em;
    width: 5.125em;
    display: inline-block;
    vertical-align: top; }

  .sidebar-author-name {
    margin-top: 4em; }

  .author-social {
    margin-top: 3.5em;
    margin-left: 1em; }

  /***popular posts***/
  .posts-float {
    width: 46%;
    float: left;
    margin-bottom: 1em; }

  .posts-float:nth-of-type(even) {
    margin-right: 4%; }

  /***footer***/
  footer {
    clear: both; } }
@media screen and (min-width: 1000px) {
  /***header***/
  header {
    padding-top: 2em;
    padding-bottom: 3em; }

  .big-header-text h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0; }

  /***article***/
  .main-content {
    width: 70%;
    float: left; }

  .article-header {
    max-width: 600px; }

  /***aside***/
  aside {
    width: 25%;
    margin-left: 5%;
    float: left;
    vertical-align: top;
    margin-top: 1.25em; }

  .big-author-photo {
    display: block;
    margin: 0 auto; }

  .sidebar-author-name {
    display: block;
    margin-top: 0.25em;
    text-align: center; }

  .author-social {
    display: block;
    text-align: center;
    margin-top: 0.25em;
    margin-left: 0; }

  .aside-caption {
    text-align: left; }

  /***popular posts***/
  .popular-posts {
    border-top: 0.0625em solid #e1e7ea;
    clear: both; }

  .posts-float {
    width: 25%;
    margin: 0; }
    .posts-float .popular-posts-photos {
      width: 100%;
      min-height: 19.5em;
      margin-bottom: 0;
      position: relative;
      margin-right: 0;
      margin-left: 0; }
    .posts-float .outside-p {
      display: none; }
    .posts-float .inside-p {
      display: inline;
      position: absolute;
      width: 80%;
      margin-left: 2rem;
      font-size: 2rem;
      color: white;
      float: none;
      padding-top: 6.5em; }
      .posts-float .inside-p:hover {
        text-shadow: 3px 3px 3px black; }

  .poppost1 {
    background-image: linear-gradient(rgba(16, 109, 179, 0.4), rgba(16, 109, 179, 0.4)), url(../IMG/learn-more.jpg); }
    .poppost1:hover {
      background-image: url(../IMG/learn-more.jpg); }

  .poppost2 {
    background-image: linear-gradient(rgba(16, 109, 179, 0.4), rgba(16, 109, 179, 0.4)), url(../IMG/adopt.jpg); }
    .poppost2:hover {
      background-image: url(../IMG/adopt.jpg); }

  .poppost3 {
    background-image: linear-gradient(rgba(16, 109, 179, 0.4), rgba(16, 109, 179, 0.4)), url(../IMG/volunteer.jpg); }
    .poppost3:hover {
      background-image: url(../IMG/volunteer.jpg); }

  .poppost4 {
    background-image: linear-gradient(rgba(16, 109, 179, 0.4), rgba(16, 109, 179, 0.4)), url(../IMG/cutest-photos.jpg); }
    .poppost4:hover {
      background-image: url(../IMG/cutest-photos.jpg); }

  /***footer***/
  .footer-wrapper {
    width: 90%;
    margin: 0 auto; }

  footer {
    padding-bottom: 1em; }
    footer .footer-logo-container {
      width: 68%;
      float: left; }
      footer .footer-logo-container .tiy-logo {
        margin-left: 0;
        margin-right: 0;
        display: inline-block;
        vertical-align: top; }
      footer .footer-logo-container p {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin-right: 0;
        margin-left: 1em;
        width: 40%; }

  .footer-nav {
    float: right; }
    .footer-nav ul {
      text-align: right;
      padding-top: 0.7em;
      padding-bottom: 0.5em;
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

/*# sourceMappingURL=style.css.map */
